<div class="artwork-container">
	<div class="row">
    	<div class="col">
    		<div class="card">
    			<img class="artwork-image" src="{{url}}">
    		</div>
    		<div class="artwork-text-content">
        		<div><a class="artwork-title">{{title}}</a></div>
        		<div><a class="artwork-artist" href="/artist-portfolio/{{artistID}}">{{artistName}}</a></div>
   			</div>
		</div>
	</div>
</div>