<!DOCTYPE html>
<html>
<head>
    <title>CS340 Project</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <ul>
        <li><a href="/">Homepage</li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/artist">Artist Page</a></li>
        <li><a href="/events">Events</a></li>
    </ul>
</head>
<body>
    <header>
        <h1 class="site-title">Artbase</h1>
    </header>
    {{{body}}}
</body>
</html>
