<h1>Access Denied</h1><br/>
<h3>Your account type is {{#if session.isUser}}User {{else}}Artist {{/if}}</h3><br/>
<h3>Only {{#if session.isUser}}Artists {{else}}Users {{/if}}have access to that page</h3>