<div class="container-fluid page-container">
    <div class="row justify-content-center page-row">
        <div class="col-md-3"></br>
            <h1>Artist Login</h1></br>
            <form id="artistlogin" action="/autha" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input id="usernameInput" class="form-control" type="text" name="username" required>
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input id="passwordInput" class="form-control" type="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <p>Testing account: </p>
                <p>Username: SteveJ45 Password: password1</p>
            </form>
        </div>
    </div>
</div>
<style>.navbar {display: none}</style>