<div class="container-fluid page-container">
    <div class="row row-cols-1 row-cols-md-2">
        
            {{#each artworks}}
            <div class="col mb-4">
                {{> image}}
            </div> 
            {{/each}}
        </div>
    </div>
</div>
