<main class="homepage-content">
    <form action="/upload">
        <input type="submit" value="Upload Artwork" id="upload-artwork-button">
    </form>
    
    <section id="artwork-posts">
        <div id="artworks">
            {{#each artworkData}}
                {{> image}}
            {{/each}}
        </div>
    </section>
</main>