<main class="homepage-content">
    <section id="artwork-posts">
        <div id="artworks">
            {{#each artworkData}}
                {{> image}}
            {{/each}}
        </div>
    </section>
</main>