<div class="container-fluid page-container">
    <div>
        <p>
            You are currently logged in as the {{#if session.isUser}}User{{else}}Artist{{/if}} {{session.sessInfo.username}}
        </p>
    </div>
    <div>
        <form id="search_bar" action="" class="form-inline" enctype="application/x-www-form-urlencoded">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchTag" name="searchTag">
            <input type="button" class="btn btn-outline-secondary my-2 my-sm-0" value="Search" id="search-submit" onClick="searchInput()">
        </form>
    </div><br/>
    <div class="row row-cols-1 row-cols-md-2">
        {{#each artworks}}
        <div class="col mb-4">
            {{> image}}
        </div> 
        {{/each}}
    </div>
</div>
