<div class="container-fluid page-container">
  <div class="row justify-content-center page-row">
    <div class="col-md-3"></br>
      <h1>Artist Name</h1></br>
        <div class="card mb-2 shadow-sm p-3 mb-5 bg-white rounded">
          <img src="https://images.pexels.com/photos/2051004/pexels-photo-2051004.jpeg?cs=srgb&dl=green-and-purple-illustration-2051004.jpg&fm=jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Teal</h5>
            <p class="card-text">Photo by<button id="portfolio" type="button" class="btn btn-link" onClick="reply_click(this.id)">Amber Lamoreaux</button>from Pexels</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 table-column"></br></br>
        <div class="card mb-4 shadow-sm p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <div class="table-responsive" id="eventsTable">
              <table class="table">
                <div class="mx-auto" style="width: 200px;"><h4>Events</h4></div>
                  <thead class="thead">
                      <tr>
                          <th scope="col"></th>
                          <th scope="col">Name</th>
                          <th scope="col">Start</th>
                          <th scope="col">End</th>
                          <th scope="col">Time</th>
                          <th scope="col">Location</th>
                          <th scope="col">City</th>
                          <th scope="col">State</th>
                          <th scope="col">Zip Code</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td><button type="button" class="btn btn-primary">Remove</button></td>
                          <td>Plaza Art Fair</td>
                          <td>9/25/20</td>
                          <td>9/27/20</td>
                          <td>10:00:00</td>
                          <td>Country Club Plaza</td>
                          <td>Kansas City</td>
                          <td>MO</td>
                          <td>64112</td>
                      </tr>
                      <tr>
                          <td><button type="button" class="btn btn-primary">Remove</button></td>
                          <td>Bayou City Art Festival</td>
                          <td>10/10/20</td>
                          <td>10/11/20</td>
                          <td>10:00:00</td>
                          <td>6501 Memorial Dr.</td>
                          <td>Houston</td>
                          <td>TX</td>
                          <td>77007</td>
                      </tr>
                    </tbody>
              </table>
            </div>
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Add an event
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <form>
                      <div class="form-group row">
                        <label for="eventsSelect" class="col-sm-2 col-form-label">Select an event:</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="eventsSelect" required>
                            {{#each Events}}
                            <option value="{{eventID}}">{{name}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                          <button id="/events" type="button" class="btn btn-link" onClick="location.href = '/events';">Create new event</button>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                          <button id="add" type="submit" class="btn btn-primary">Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
