<div class="container-fluid page-container">
    <div>
        <h1>Choose login/sign up type</h1>

            <h3>User</h3>
            <div>
                <a href="/user-login">Login</a>
            </div>
            <div>
                <a href="/user-signup">Sign up</a>
                
            </div>
        <br/>
        </div>
            <h3>Artist</h3>
            <div>
                <a href="/artist-login">Login</a>
            </div>
            <div>
                <a href="/artist-signup">Sign up</a>
            </div>
        </div>
    </div>
</div>
<style>.navbar {display: none}</style>