<div class="container-fluid page-container">
    <div>
        <h1>Choose login/sign up type</h1>

            <h3>Login</h3>
            <div>
                <a href="/user-login">User</a>
            </div>
            <div>
                <a href="/artist-login">Artist</a>
            </div>
        </div>

            <h3>Sign up</h3>
            <div>
                <a href="/user-signup">User</a>
            </div>
            <div>
                <a href="/artist-signup">Artist</a>
            </div>
        </div>
    </div>
</div>
<style>.navbar {display: none}</style>