<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ArtBase</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
    </ul>
    <span class="navbar-text">
      Logged in as User
    </span>
  </div>
</nav>

<div class="col-md-8 mx-auto">


<h1>User Events</h1>

<div class="table-responsive" id="eventsTable">
          <table class="table">
          <h5>Events</h5>
          <thead class="thead">
              <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Start</th>
                  <th scope="col">End</th>
                  <th scope="col">Time</th>
                  <th scope="col">Location</th>
                  <th scope="col">City</th>
                  <th scope="col">State</th>
                  <th scope="col">Zip Code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td><button type="button" class="btn btn-danger">Remove</button></td>
                  <td>Bayou City Art Festival</td>
                  <td>10/10/20</td>
                  <td>10/11/20</td>
                  <td>10:00:00</td>
                  <td>6501 Memorial Dr.</td>
                  <td>Houston</td>
                  <td>TX</td>
                  <td>77007</td>
              </tr>
            </tbody>
        </table>
      </div>