img.artwork-image {
    height:auto;
    max-width: 100%;
}

.image {
	width: 100%;
}

li.nav-link {
   font-size: 20px;
}

ul.navbar-nav {
	line-height:40px;
}

#navbar-text > .navbar-nav > li > p {
    color: rgb(184, 184, 184)
}

.page-container {
	padding: .75rem;
}

.table-column {
	margin-top: 56px;
}

.login-card {
	padding: 50px;
}
